<div class="page-area">
    <h2 class="home text-center">Home</h2>
    <div class="box box1">
        <h2>Username is <span class="text-success">{{username}}</span></h2>
        <br>
    </div>
    <div class="row">
        <div class="col-md-6 abc">
            <child1></child1>
            <br>
        </div>
        <div class="col-md-6 abc">
            <child2></child2>
            <br>
        </div>
        <div class="col-md-6 abc">
            <child3></child3>
        </div>
        <div class="col-md-6 abc">
            <child4></child4>
        </div>
    </div>
</div>