/* button {
    margin: 3rem;
}

.navbar {
    justify-content: space-between;
}

span {
    padding-right: 1rem;
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav, mat-sidenav-content{
    padding: 16px;
}

mat-sidenav {
    background-color: lightcoral;
    width: 200px;
} */

mat-grid-tile {
    background-color: lightblue;
}

.example-card {
    width: 400px;
}

.example-action-button {
    margin-top: 8px;
    margin-right: 8px;
  }

  table {
    width: 100%;
  }
  
.number {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid maroon;
    box-sizing: border-box;
    height: 100;
}

.container {
    height: 400px;
}

.example-chip-list {
    width: 100%;
  }
  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }  