
<!-- Typograpy

<div class='mat-title'>Typograpy</div>

<div class='mat-body-1'>body-text</div>
<div class='mat-body-2'>bold-body-text</div>
<div class='mat-caption'>caption-text</div>

<mat-divider></mat-divider>

<div class="mat-display-1">Mat Display 1</div>
<div class="mat-display-2">Mat Display 2</div>
<div class="mat-display-3">Mat Display 3</div>
<div class="mat-display-4">Mat Display 4</div>

<mat-divider></mat-divider>

<div class='mat-headline'>H1 tag</div>
<div class='mat-title'>H2 tag</div>
<div class='mat-subheading-2'>H3 tag</div>
<div class='mat-subheading-1'>H4 tag</div>

<mat-divider></mat-divider>

<div class="mat-typography">
    <h1>h1 tag</h1>
    <h2>h2 tag</h2>
    <h3>h3 tag</h3>
    <h4>h4 tag</h4>
</div>

<mat-divider></mat-divider> -->


<!-- Button
<div>
    <button mat-button>click me</button>
    <button mat-raised-button color="primary">click me</button>
    <button mat-flat-button color="accent">click me</button>
    <button mat-stroked-button color="warn">click me</button>
</div>
<div>
    <button mat-icon-button>Icon</button>
    <button mat-fab>fab</button>
    <button mat-mini-fab>MiniFab</button>
</div>

<mat-divider></mat-divider> -->

<!-- ButtonToggle
<div>
    <mat-button-toggle-group #toggleGroup='matButtonToggleGroup' multiple>
        <mat-button-toggle value="Angular">Angular</mat-button-toggle>
        <mat-button-toggle value="React">React</mat-button-toggle>
        <mat-button-toggle value="Vue">Vue</mat-button-toggle>
    </mat-button-toggle-group>
    {{toggleGroup.value}}
</div>

<mat-divider></mat-divider> -->


<!-- Badge
<div>
    <span [matBadge]="notification" [matBadgeHidden]="notification === 0">Notification</span>
</div>
<div>
    <span matBadge="5" matBadgePosition="below before">Notification</span>
</div><div>
    <span matBadge="5" matBadgeSize="small">Notification</span>
</div><div>
    <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="false">Notification</span>
</div><div>
    <span matBadge="5" >Notification</span>
</div> -->

<!-- Progress-Bar -->

<!-- <section class="example-section">
    <label class="example-margin">Color:</label>
    <mat-radio-group [(ngModel)]="color">
      <mat-radio-button class="example-margin" value="primary">
        Primary
      </mat-radio-button>
      <mat-radio-button class="example-margin" value="accent">
        Accent
      </mat-radio-button>
      <mat-radio-button class="example-margin" value="warn">
        Warn
      </mat-radio-button>
    </mat-radio-group>
  </section>

  <section class="example-section">
    <label class="example-margin">Mode:</label>
    <mat-radio-group [(ngModel)]="mode">
      <mat-radio-button class="example-margin" value="determinate">
        Determinate
      </mat-radio-button>
      <mat-radio-button class="example-margin" value="indeterminate">
        Indeterminate
      </mat-radio-button>
      <mat-radio-button class="example-margin" value="buffer">
        Buffer
      </mat-radio-button>
      <mat-radio-button class="example-margin" value="query">
        Query
      </mat-radio-button>
    </mat-radio-group>
  </section>

  <section class="example-section" *ngIf="mode === 'determinate' || mode === 'buffer'">
    <label class="example-margin">Progress:</label>
    <mat-slider class="example-margin" [(ngModel)]="value"></mat-slider>
  </section>
  <section class="example-section" *ngIf="mode === 'buffer'">
    <label class="example-margin">Buffer:</label>
    <mat-slider class="example-margin" [(ngModel)]="bufferValue"></mat-slider>
  </section>

  <h2 class="example-h2">Result</h2>

  <section class="example-section">
    <mat-progress-bar
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="value"
        [bufferValue]="bufferValue">
    </mat-progress-bar>
  </section> -->

<!-- Navbar

<mat-toolbar color="primary" class="navbar">
    <div>Menu</div>
    <div>
        <span>Home</span>
        <span>About</span>
        <span>Service</span>
    </div>
</mat-toolbar> -->

<!-- SideNav -->   

<!-- <mat-sidenav-container>
    <mat-sidenav #sidenav (opened)="log('Opened')" (closed)="log('Closed')" mode="side" [(opened)]="opened">SideNav</mat-sidenav>
    <mat-sidenav-content>Main
        <button (click)="opened=!opened">Toggle Open</button>
        <button (click)="sidenav.open()">Open</button>
        <button (click)="sidenav.close()">close</button>
        <button (click)="sidenav.toggle()">toggle</button>
    </mat-sidenav-content>
</mat-sidenav-container> -->

<!-- Menu -->

<!-- <mat-menu #appMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="subMenu" xPosition="after" yPosition="above">FrontEnd</button>
    <button mat-menu-item>BackEnd</button>
</mat-menu>

<button mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>

<mat-menu #subMenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React</button>
    <button mat-menu-item>Vue</button>
</mat-menu>

<mat-menu #lazyMenu="matMenu">
    <ng-template matMenuContent let-name="name" let-hobby="hobby">
        <button mat-menu-item>Setting</button>
        <button mat-menu-item>Hobby is {{ hobby }}</button>
        <button mat-menu-item>Logout {{ name }}</button>
    </ng-template>
</mat-menu>

<button 
    mat-raised-button  
    [matMenuTriggerData]="{ name: 'Vishwas', hobby: 'Cricket'}" 
    [matMenuTriggerFor]="lazyMenu">
        Vishwas
</button>
<button 
    mat-raised-button 
    [matMenuTriggerData]="{ name: 'Codevolution', hobby: 'Football'}" 
    [matMenuTriggerFor]="lazyMenu">
        Codevolution
</button> -->
 
<!-- List

<mat-list dense>
    <mat-list-item>Item 1</mat-list-item>
    <mat-list-item>Item 2</mat-list-item>
    <mat-list-item>Item 3</mat-list-item>
</mat-list>

<mat-nav-list>
    <a mat-list-item href="#">Home</a>
    <a mat-list-item href="#">About</a>
    <a mat-list-item href="#">Service</a>
</mat-nav-list>

<mat-list>
    <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <h3 matLine>Heading</h3>
        <h3 matLine>Line</h3>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine>Heading 2</h3>
        <h3 matLine>Line 2</h3>
    </mat-list-item>
</mat-list> -->

<!-- Grid-List -->

<!-- <mat-grid-list cols="2" rowHeight="fit" style="height: 200px" gutterSize="10px">
    <mat-grid-tile>Title-1</mat-grid-tile>
    <mat-grid-tile>Title-2</mat-grid-tile>
    <mat-grid-tile>Title-3</mat-grid-tile>
    <mat-grid-tile>Title-4</mat-grid-tile>
</mat-grid-list> -->

<!-- Expansion -->

<!-- <mat-accordion multi="true" hideToggle>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Angular Fundamentals</mat-panel-title>
        <mat-panel-description>Total Duration : 3 Hours</mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the Panel Content..</p>
    <mat-action-row>
        <button mat-button>Enroll</button>
    </mat-action-row>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Angular MAterial</mat-panel-title>
        <mat-panel-description>Total Duration : 2 Hours</mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the Panel Content..</p>
    <mat-action-row>
        <button mat-button>Enroll</button>
    </mat-action-row>
</mat-expansion-panel>
</mat-accordion> -->

<!-- Card -->

<!-- <mat-card class="example-card">
    <mat-card-title>Card Title</mat-card-title>
    <mat-card-subtitle>Card Sub-Title</mat-card-subtitle>
    <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p>When it comes to writers' block, often the most difficult part is simply beginning to put words to paper. One way that can often help is to write about something completely different from what you're having the writers' block about.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">LIKE</button>
      <button mat-stroked-button color="accent">SHARE</button>
    </mat-card-actions>
  </mat-card> -->
<!-- 
  <mat-tab-group #tabRef (selectedTabChange)="logChange(tabRef.selectedIndex)">
      <mat-tab label="Angular">Angular Content</mat-tab>
      <mat-tab label="React">React Content</mat-tab>
      <mat-tab label="Vue">Vue Content</mat-tab>
  </mat-tab-group> -->
  <!-- {{tabRef.selectedIndex}} --> 


  <!-- <nav mat-tab-nav-bar [backgroundColor]="background" #tabRef>
    <a mat-tab-link *ngFor="let link of links"
       (click)="activeLink = link"
       [active]="activeLink == link"> {{link}} </a>
    <a mat-tab-link disabled>Disabled Link</a>
  </nav>
  
  <button mat-raised-button class="example-action-button" color="primary" (click)="toggleBackground()">
    Toggle background
  </button>
  <button mat-raised-button class="example-action-button" color="accent" (click)="addLink()">
    Add link
  </button>
  <button mat-raised-button class="example-action-button" color="warn" (click)="remove(tabRef.selectedIndex)" [disabled]="links.length === 1">
      Delete link
  </button> -->


  <!-- Stepper-Horizontal -->
  
  <!-- <mat-horizontal-stepper linear>
      <mat-step label="Shipping Address" completed="false">
          <p>Shipping Address Detail</p>
      </mat-step>
      <mat-step label="Billing Address" completed="false">
          <p>Billing Address Detail</p>
          <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>
      <mat-step label="Place Order" completed="false">
          <p>Order Detail</p>
      </mat-step>
  </mat-horizontal-stepper> -->

<!-- <mat-stepper labelPosition="bottom" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Fill out your name</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fill out your address</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                   required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper> -->

    <!-- <mat-stepper linear #stepper>
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Fill out your name</ng-template>
              <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="firstCtrl" placeholder="Last name, First name" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Fill out your address</ng-template>
              <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                       required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </mat-step>
        </mat-stepper> -->


  <!-- Input -->

<!-- <mat-form-field hideRequiredMarker appearance="fill" color="accent">
  <mat-label>Name</mat-label>
  <input matInput required>
  <mat-hint align="end">Min 5 character</mat-hint>
</mat-form-field>

<mat-form-field hideRequiredMarker appearance="outline" color="warn">
  <mat-label>Name</mat-label>
  <input matInput required>
  <mat-hint align="end">Min 5 character</mat-hint>
</mat-form-field> -->


<!-- Select -->

<!-- <mat-form-field>
  <mat-label>Topic</mat-label>
  <mat-select [(value)]="selectedValue" multiple>
    <mat-option>None</mat-option>
    <mat-optgroup label="web">
      <mat-option value="angular">Angular</mat-option>
      <mat-option value="react">React</mat-option>
      <mat-option value="vue">Vue</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Mobile">
      <mat-option value="ionic">Ionic</mat-option>
      <mat-option value="reactnative">React Native</mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>

{{selectedValue}} -->


<!-- AutoComplete -->

<!-- <form>
  <mat-form-field>
    <input type="text" matInput [matAutocomplete]="auto"/>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of objectOption" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form> -->

<!-- checkbox -->

<!-- <mat-checkbox>
  subscribe
</mat-checkbox>
<br>
<mat-checkbox labelPosition="before">
  subscribe
</mat-checkbox>
<br>
<mat-checkbox color="primary">
  subscribe
</mat-checkbox>
<br>
<mat-checkbox color="warn">
  subscribe
</mat-checkbox> -->


<!-- RadioButton -->

<!-- <mat-radio-group>
  <mat-radio-button value="Angular" color="primary">Angular</mat-radio-button>
  <mat-radio-button value="React">React</mat-radio-button>
  <mat-radio-button value="Vue" color="warn">Vue</mat-radio-button>
</mat-radio-group> -->

<!-- DatePicker -->

<!-- <mat-form-field>
  <input matInput [matDatepicker]="myDatePicker" [matDatepickerFilter]="dateFilter">
  <mat-datepicker-toggle matSuffix [for]="myDatePicker"></mat-datepicker-toggle>
  <mat-datepicker #myDatePicker></mat-datepicker>
</mat-form-field> -->

<!-- ToolTip -->

<!-- <button 
  mat-raised-button 
  matTooltip="Welcome to my Profile" 
  matTooltipPosition="after"
  matTooltipShowDelay="2000"
  matTooltipHideDelay="2000"
  >
  Hello
</button> -->

<!-- SnackBar -->

<!-- <button mat-raised-button (click)="openSnackBar('Item Deleted', 'Undo')">Delete</button>

<button mat-button (click)="openCustomSnackBar()">
  Show Custom Snackbar
</button> -->

<!-- Dialog -->

<!-- <button mat-raised-button (click)="openDialog()">Open Dialog</button> -->

<!-- Data-Table -->

<!-- <mat-form-field>
  <input (keyup)="applyFilter($event)" matInput placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
<mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="position">
    <mat-header-cell mat-sort-header *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="weight">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Weight </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="symbol">
    <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div> -->

<!-- virtual-scroll -->

<!-- <cdk-virtual-scroll-viewport itemSize="100" class="container">
  <div *cdkVirtualFor="let number of numbers" class="number">
    {{number}}
  </div>
</cdk-virtual-scroll-viewport> -->

<!-- Bottom-Sheet -->

<!-- <button mat-raised-button (click)="openBottomSheet()">Open file</button> -->


<!-- Chips -->

<!-- <mat-form-field class="example-chip-list" appearance="fill">
  <mat-label>Favorite Fruits</mat-label>
  <mat-chip-list #chipList aria-label="Fruit selection" multiple>
    <mat-chip *ngFor="let fruit of fruits" (removed)="removeChip(fruit)">
      {{fruit.name}}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input placeholder="New fruit..."
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
</mat-form-field> -->

<!-- Radio-Button -->

<!-- <label id="example-radio-group-label">Pick your favorite season</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="favoriteSeason">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div>Your favorite season is: {{favoriteSeason}}</div> -->

<!-- Tree -->

<mat-tree [dataSource]="dataSource1" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    {{node.name}}
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
  </mat-tree-node>
</mat-tree>