<h2>Array Operation</h2>

    <button class="btn btn-outline-secondary" (click)="fnFilter()">Filter</button>
    <button class="btn btn-outline-secondary" (click)="fnConcat()">Concat</button>
    <button class="btn btn-outline-secondary" (click)="fnCopywithIn()">CopyWithin</button>
    <button class="btn btn-outline-secondary" (click)="fnEntries()">Entries</button>
    <button class="btn btn-outline-secondary" (click)="fnEvery()">Every</button>
    <button class="btn btn-outline-secondary" (click)="fnFill()">Fill</button>
    <button class="btn btn-outline-secondary" (click)="fnFind()">Find</button>
    <button class="btn btn-outline-secondary" (click)="fnFindIndex()">FindIndex</button>
    <button class="btn btn-outline-secondary" (click)="fnForEach()">ForEach</button>
    <button class="btn btn-outline-secondary" (click)="fnFrom()">From</button>
    <button class="btn btn-outline-secondary" (click)="fnInclude()">Include</button>
    <button class="btn btn-outline-secondary" (click)="fnIndexOf()">IndexOf</button>
    <button class="btn btn-outline-secondary" (click)="fnIsArray()">isArray</button>
    <button class="btn btn-outline-secondary" (click)="fnJoin()">Join</button>
    <button class="btn btn-outline-secondary" (click)="fnKeys()">Keys</button>
    <button class="btn btn-outline-secondary" (click)="fnLength()">Length</button>
    <button class="btn btn-outline-secondary" (click)="fnLastIndexOf()">LastIndexOf</button>
    <button class="btn btn-outline-secondary" (click)="fnMap()">Map</button>
    <button class="btn btn-outline-secondary" (click)="fnPush()">Push</button>
    <button class="btn btn-outline-secondary" (click)="fnReduce()">Reduce</button>
    <button class="btn btn-outline-secondary" (click)="fnReduceRight()">ReduceRight</button>
    <button class="btn btn-outline-secondary" (click)="fnReverse()">Reverse</button>
    <button class="btn btn-outline-secondary" (click)="fnShift()">Shift</button>
    <button class="btn btn-outline-secondary" (click)="fnSlice()">Slice</button>
    <button class="btn btn-outline-secondary" (click)="fnSome()">Some</button>
    <button class="btn btn-outline-secondary" (click)="fnSort()">Sort</button>
    <button class="btn btn-outline-secondary" (click)="fnSplice()">Splice</button>
    <button class="btn btn-outline-secondary" (click)="fnToString()">ToString</button>
    <button class="btn btn-outline-secondary" (click)="fnUnShift()">UnShift</button>
    <button class="btn btn-outline-secondary" (click)="fnTypeOf()">TypeOf</button>
    <button class="btn btn-outline-secondary" (click)="fnSplit()">Split</button>
