<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- <app-counter></app-counter> -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


<!-- <home></home> -->
<!-- <router-outlet></router-outlet> -->
<!-- Subject & BehaviorSubject -->
<!-- <behavior></behavior> -->
<!-- ------------------------- -->

<!-- Observable & Promises
<observable></observable>

<hr>

<promise></promise> -->

<!-- Interceptor Example
<demo></demo> -->


<!-- Http Services -->
<!-- <posts></posts> -->
<!-- ------------- -->


<!-- <navbar></navbar>
<router-outlet></router-outlet> -->
